body{
font-family: 'Overpass', sans-serif;
}
ul{
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
.container{
    /* Main box styles go here */
padding:0;

}
.layout-container{
    display: flex;
    flex-direction:column;
    /* padding:24px; */
    /* width:1440px; */
}
.main-section{
    /* background-image: url(images/); */
    background-size:cover cover;
    background-repeat: no-repeat;
    background-color: hsl(13, 100%, 72%);
    color:hsl(0, 0%, 100%);
    font-weight:bold;
    border: solid 1px;
    padding:8px;
    border-bottom-left-radius: 25px;
    padding-bottom: 64px;
}
.nav{
    display: flex;
    align-items: center;
    /* justify-content:space-between; */
}
.inner-list{
    display:none;
}
#main-nav{
    display: flex;
    list-style: none;
    flex-grow: 1;
    margin-left:8px;
    /* !the hidden view should change on hover or something */
    /* border: solid 1px; */
}
.main-list-item{
    margin-left: 12px;
}
.action-buttons{
    /* border: solid 1px black; */
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 16px;
    padding-top: 8px;
    flex-basis: 300px;
    display: flex
}

.secondary-action-btn{
    background-color:hsl(0, 0%, 100%);
    color:hsl(13, 100%, 72%);
    width: 150px;
    height:35px;
    border-radius: 35px;
    border:none;
    font-weight:bold


}
.main-action-btn{
    /* background-color:hsl(0, 0%, 100%);
    color:hsl(13, 100%, 72%); */
    width: 150px;
    margin-right: 8px;
     height:35px;
    border-radius: 35px;
    border:none;
    font-weight:bold;
    background-color:transparent;
    color:hsl(0, 0%, 100%);
}
#main-btn-id{
    border:solid 1px;
    margin-left:8px;
}
#login-btn{
    text-align:right;
}

.actions-box{
    display: flex;
    flex-direction:column;
    /* border: solid 1px; */
    width:50%;
    margin: 0 auto;
    justify-content:center;
    align-items: center;
}
/* Out Of The Box Styles */
.attribution {
      font-size: 11px;
      text-align: center;
    }

    .attribution a {
      color: hsl(228, 45%, 44%);
    }